<div class="container-edit-profile">
    <h1>Edit your meeting</h1>

    <form action='/meet/meetings/{{_doc._id}}/editMeeting' method='POST' enctype="multipart/form-data">

        <div class="form-group font-weight-bold">
            <label for='meetingName'>Name</label>
            <input class="form-control" type='text' name='meetingName' value='{{this.meetingName}}'>
        </div>

        <div class="form-group font-weight-bold">
            <label for='meetingDescription'>Meeting Description</label>
            <input class="form-control" type='text' name='meetingDescription' value='{{this.meetingDescription}}'>
        </div>

        <div class="form-group font-weight-bold">
            <label for='meetingLanguage'>Meeting Language</label>
            <input class="form-control" type='text' name='meetingLanguage' value='{{this.meetingLanguage}}'>
        </div>

        <div class="form-group font-weight-bold">
            <label for='meetingDate'>Meeting date</label>
            <input class="form-control" type='text' name='meetingDate' value='{{this.meetingDate}}'>
        </div>


        <a class="btn btn-outline-danger" type='button' href="/meet/myPendingMeetings">Back</a>
        <button class="btn btn-primary float-right" type='submit'>Save changes</button>

    </form>
</div>