<div class="card meeting-detail">
    {{#if this.meetingImg}}
    <img class="card-img-top" src="{{this.meetingImg}}" alt="Meeting picture">
    {{^}}
    <img src="../../images/bar.jpg" class="card-img-top" alt="bar">
    {{/if}}
    <div class="card-body">
        <h5 class="card-title">{{theMeeting.meetingName}}</h5>
        <p class="card-text">{{theMeeting.meetingDescription}}</p>
        <p class="card-text">{{theMeeting.meetingDate}}</p>
        <p class="card-text">{{theMeeting.meetingPoint}}</p>
        <p class="card-text">{{theMeeting.meetingCity}}</p>
        {{#each theMeeting.meetingParticipants}}
            <span class="card-text">{{this.name}}</span>
        {{/each}}
        {{#if isOrganizer}}
            <p>You are subscribed to this meeting!</p>
        {{^}}
            <form class="" method="POST" action="/meet/meetings/{{theMeeting._id}}">
                <button class="btn btn-primary float-right" type='submit'>Join this meeting!</button>
            </form>
        {{/if}}
    </div>
</div>
<div class="container-comments">
    {{#each comment}}
    <div>
        <p class="card-text">{{theMeeting.commentArray.comment}}</p>
    </div>
    {{/each}}
</div>
<div class="container-post-comment">
    <form class="" method="POST" action="/comments/{{theMeeting._id}}/comment">
        <div class="form-group">
            <textarea class="form-control" name="comment" id="comment" rows="3" placeholder="Enter your comment here"></textarea>
        </div>
        <a class="btn btn-outline-danger" type='button' href="/meet/meetings">Back</a>
        <button class="btn btn-primary float-right" type="submit">Comment</button>
    </form>
</div>