<div class="container-edit-profile">
    <h1>Edit your profile</h1>

    <form action='/profile/{{currentUserInfo._id}}/editProfile' method='POST' enctype="multipart/form-data">
        <div class="form-group font-weight-bold">
            <label for=''>Name</label>
            <input class="form-control" type='text' name='name' value='{{currentUserInfo.name}}'>
        </div>
        <div class="form-group font-weight-bold">
            <label for=''>Email</label>
            <input class="form-control" type='email' name='email' value='{{currentUserInfo.email}}'>
        </div>
        <div class="form-group font-weight-bold">
            <label for=''>Address</label>
            <input class="form-control" type='text' placeholder='Country' name='country' value='{{currentUserInfo.country}}'>
            <input class="form-control" type='text' placeholder='City' name='city' value='{{currentUserInfo.city}}'>
        </div>
        <div class="form-group font-weight-bold">
            <label for=''>Biography</label>
            <input class="form-control" type='textarea' name='biography' value='{{currentUserInfo.biography}}'>
        </div>
        <div class="form-group font-weight-bold">
            <label for=''>I speak</label>
            <input class="form-control" type='text' name='languagesISpeak' value='{{currentUserInfo.languagesISpeak}}'>
        </div>
        <div class="form-group font-weight-bold">
            <label for=''>Languages ​​I want to learn</label>
            <input class="form-control" type='text' name='iWantToLearn' value='{{currentUserInfo.iWantToLearn}}'>
        </div>
        <div class="form-group font-weight-bold">
            <label for='profileImage'>Image</label>
            {{#if currentUserInfo.profileImage}}
                <img class="card-img-top" src="{{currentUserInfo.profileImage}}" alt="profileImage">
                {{^}}
                <img class="card-img-top" src="./images/default-profile.picture.png" alt="profileImage">
            {{/if}}
            <input class="form-control" type='file' name='profilepic' value='{{currentUserInfo.profileImage}}'>
        </div>
        <a class="btn btn-outline-danger" type='button' href="/profile">Back</a>
        <button class="btn btn-primary float-right" type='submit'>Save changes</button>
    </form>
</div>